<div class="rounded-[20px] border border-stroke bg-white px-5 pb-2.5 pt-6 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1">
    <h4 class="mb-6 text-xl font-bold text-black dark:text-white">Recharge List</h4>
  
    <div class="flex flex-col">
      <!-- Table Header -->
      <div class="overflow-x-auto">
        <div class="grid grid-cols-3 sm:grid-cols-5 gap-2 items-center rounded-[5px] bg-gray text-black dark:bg-meta-4">
          <div class="p-2 text-center">
            <h5 class="text-xs font-bold text-[#015FC9] sm:text-sm">Serial</h5>
          </div>
          <div class="p-2 text-center">
            <h5 class="text-xs font-bold text-[#015FC9] sm:text-sm">Passenger Name</h5>
          </div>
          <div class="p-2 text-center">
            <h5 class="text-xs font-bold text-[#015FC9] sm:text-sm">Card Number</h5>
          </div>
          <div class="p-2 text-center hidden sm:block">
            <h5 class="text-xs font-bold text-[#015FC9] sm:text-sm">Date & Time</h5>
          </div>
          <div class="p-2 text-center hidden sm:block">
            <h5 class="text-xs font-bold text-[#015FC9] sm:text-sm">Recharge Amount</h5>
          </div>
        </div>
      </div>
  
      <!-- Table Row -->
      <div class="grid grid-cols-3 sm:grid-cols-5 gap-2 items-center border-b border-stroke dark:border-strokedark">
        <div class="p-2 text-center">
          <p class="text-[15px] font-medium text-black dark:text-white">01</p>
        </div>
        <div class="p-2 text-center">
          <p class="text-[15px] font-medium text-black dark:text-white">Shakib Imran</p>
        </div>
        <div class="p-2 text-center">
          <p class="text-[15px] font-medium text-black dark:text-white">1234567890</p>
        </div>
        <div class="p-2 text-center hidden sm:block">
          <p class="text-[15px] font-medium text-black dark:text-white">November 29, 2024 3:43:24 PM</p>
        </div>
        <div class="p-2 text-center hidden sm:block">
          <p class="text-[15px] font-medium text-black dark:text-white">50 BDT</p>
        </div>
      </div>


      <div class="grid grid-cols-3 sm:grid-cols-5 gap-2 items-center border-b border-stroke dark:border-strokedark">
        <div class="p-2 text-center">
          <p class="text-[15px] font-medium text-black dark:text-white">01</p>
        </div>
        <div class="p-2 text-center">
          <p class="text-[15px] font-medium text-black dark:text-white">Shakib Imran</p>
        </div>
        <div class="p-2 text-center">
          <p class="text-[15px] font-medium text-black dark:text-white">1234567890</p>
        </div>
        <div class="p-2 text-center hidden sm:block">
          <p class="text-[15px] font-medium text-black dark:text-white">November 29, 2024 3:43:24 PM</p>
        </div>
        <div class="p-2 text-center hidden sm:block">
          <p class="text-[15px] font-medium text-black dark:text-white">50 BDT</p>
        </div>
      </div>

      <div class="grid grid-cols-3 sm:grid-cols-5 gap-2 items-center border-b border-stroke dark:border-strokedark">
        <div class="p-2 text-center">
          <p class="text-[15px] font-medium text-black dark:text-white">01</p>
        </div>
        <div class="p-2 text-center">
          <p class="text-[15px] font-medium text-black dark:text-white">Shakib Imran</p>
        </div>
        <div class="p-2 text-center">
          <p class="text-[15px] font-medium text-black dark:text-white">1234567890</p>
        </div>
        <div class="p-2 text-center hidden sm:block">
          <p class="text-[15px] font-medium text-black dark:text-white">November 29, 2024 3:43:24 PM</p>
        </div>
        <div class="p-2 text-center hidden sm:block">
          <p class="text-[15px] font-medium text-black dark:text-white">50 BDT</p>
        </div>
      </div>

      <div class="grid grid-cols-3 sm:grid-cols-5 gap-2 items-center border-b border-stroke dark:border-strokedark">
        <div class="p-2 text-center">
          <p class="text-[15px] font-medium text-black dark:text-white">01</p>
        </div>
        <div class="p-2 text-center">
          <p class="text-[15px] font-medium text-black dark:text-white">Shakib Imran</p>
        </div>
        <div class="p-2 text-center">
          <p class="text-[15px] font-medium text-black dark:text-white">1234567890</p>
        </div>
        <div class="p-2 text-center hidden sm:block">
          <p class="text-[15px] font-medium text-black dark:text-white">November 29, 2024 3:43:24 PM</p>
        </div>
        <div class="p-2 text-center hidden sm:block">
          <p class="text-[15px] font-medium text-black dark:text-white">50 BDT</p>
        </div>
      </div>

      <div class="grid grid-cols-3 sm:grid-cols-5 gap-2 items-center border-b border-stroke dark:border-strokedark">
        <div class="p-2 text-center">
          <p class="text-[15px] font-medium text-black dark:text-white">01</p>
        </div>
        <div class="p-2 text-center">
          <p class="text-[15px] font-medium text-black dark:text-white">Shakib Imran</p>
        </div>
        <div class="p-2 text-center">
          <p class="text-[15px] font-medium text-black dark:text-white">1234567890</p>
        </div>
        <div class="p-2 text-center hidden sm:block">
          <p class="text-[15px] font-medium text-black dark:text-white">November 29, 2024 3:43:24 PM</p>
        </div>
        <div class="p-2 text-center hidden sm:block">
          <p class="text-[15px] font-medium text-black dark:text-white">50 BDT</p>
        </div>
      </div>
    </div>
  </div>